useDynLib(QuantRegGLasso, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
export(qrglasso)
importFrom(Rcpp, evalCpp)
importFrom(splines, bs)
importFrom(stats, runif)
importFrom(graphics, par)
import(ggplot2)
S3method(plot, qrglasso.predict)
